.login{
    text-align: center;
    .login_bg{
        width: 540px;
        height: 370px;
        margin-top: 40px;
    }
    .login_btn{
        width: 680px;
        margin: 0 auto;
        margin-top: 80px;
    }
}