page {
    background: #f9f9f9;
  }
  .detail_content{
      background-color: #FFF;
      margin-top: 30px;
      .at-input{
          margin-right: 30px;
          font-size: 28px;
      }
      .at-input__title{
          font-size: 28px;
      }
      .at-input__input{
        font-size: 28px;
      }
  }